body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

body #hero{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body #hero #background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body #slidebar{
    position: fixed;
    left: 30px;
    bottom: 100px;
    z-index: 0
}
